<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= data.tile %></title>
</head>
<body>
    <h1></h1>
    <%= data.title %>
    <span>
        <!-- <%= data.content %> -->
         <img src="https://anhdephd.vn/wp-content/uploads/2022/04/anh-dong-anime-3-800x450.gif" alt="" width="100%" height="100%">
    </span>
</body>
</html>